@import "modern-normalize/modern-normalize.css";

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-link:active {
  text-decoration: underline;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.button:hover {
  background-color: #404bbf;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #434455;
  font-size: 18px;
  line-height: 1.5;
}

ul {
  list-style: none;
}

.nav-link {
  color: #2e2f42;
  font-size: 16px;
  text-decoration: none;
}

.address-link {
  color: #434455;
  font-size: 16px;
  text-decoration: none;
}

#title {
  font-size: 56px;
  font-weight: 700;
  line-height: 107%;
}

.main-subheading {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}

.main-list p {
  font-size: 16px;
  line-height: 150%;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
}

.team-images {
  width: 264px;
  height: 260px;
}

.team-subheading {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}

.team-list p {
  font-size: 16px;
  line-height: 150%;
}

.footer-description {
  font-size: 16px;
  line-height: 150%;
  display: inline-block;
}

.header {
  background-color: #ffffff;
}
.header-logo {
  display: inline-block;
}
.header-logo a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #4d5ae5;
}

.header-logo a span {
  color: #2e2f42;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.team-section {
  background-color: #f4f4fd;
}

.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #4d5ae5;
}

.footer-logo span {
  color: #f4f4fd;
}

.portfolio-images {
  width: 360px;
  height: 300px;
}

.portfolio-subheading {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

.list-portfolio {
  font-size: 16px;
  line-height: 150%;
  justify-content: center;
}

.title-portfolio {
  font-size: 36px;
  font-weight: 700;
  line-height: 111%;
  text-align: center;
  padding-bottom: 72px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  width: 1440px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
.navbar-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
}

nav {
  display: inline-block;
}
address {
  display: inline-block;
}

.title-section {
  color: white;
  background-color: #2e2f42;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 600px;
}

.title-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.button {
  width: 169px;
  height: 56px;
}

.main-list {
  display: flex;
  padding: 120px 156px;
}
.team-container {
  height: 732px;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 72px;
}

.team-list h3,
.team-list p {
  text-align: center;
}

.team-container .team-title {
  text-align: center;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 48px;
}

footer {
  height: 312px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 100px;
  padding-left: 156px;
}

.section {
  padding: 120px 0;
}

.main-list {
  gap: 24px;
}
